.env
.codaenv
out
__pycache__/
.mypy_cache/
.vscode
.gitconfig
images
papers
wandb/

secrets.json

CLIP_CUB/

CUB_processed/
CUB_200_2011/
CUB_instance_masked/
CUB_masked_class
CUB_dataset.zip
CUB/attr_ndxs.py

CUB/tti_inv.py